<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link href="{{site.baseurl}}/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


    <link rel="icon" href="{{site.baseurl}}/bower_components/bootstrap/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,greek' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,greek' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300" rel="stylesheet">
    <link rel="stylesheet" href="{{site.baseurl}}/css/font-awesome.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/ir_black.min.css">

    <!-- Custom styles for this template -->
      <link href="{{site.baseurl}}/css/apex.css" rel="stylesheet">
      {% seo %}
  </head>


  <body>


    <div class="site-wrapper">
      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="">
              <nav>
                <ul class="nav masthead-nav">
                  <li><a  class="active" href="{{site.baseurl}}/">About</a></li>
                  <li><a href="{{site.baseurl}}/examples/index.html">Examples</a></li>
                  <li><a href="{{site.baseurl}}/downloads/index.html">Downloads</a></li>
                  <li><a href="{{site.baseurl}}/docs/index.html">Docs</a></li>
                  <li><a href="{{site.baseurl}}/blog">Blog</a></li>
                  <li><a href="https://gitter.im/verticle-io/apex">Gitter</a></li>
                </ul>

              </nav>
            </div>
          </div><!-- header -->

          <div class="row">
            <div class="col-md-6">
              <span class="masthead-brand apex_title">apex toolkit</span>


            </div>
            <div class="col-md-6">


                    <div class="row">
                      <div class="text-right  pull-right">
                        <div class="panel gitrepopanelheaderframe">
                          <div class="panel-heading gitrepopanelheader"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repositories</div>
                          <div class="panel-body gitrepopanel">
                            <ul>
                              <li><a href="https://github.com/verticle-io/apex-toolkit">Collector Agent</a></li>
                              <li><a href="https://github.com/verticle-io/apex-service-template">Service Template</a></li>
                              <li><a href="https://github.com/verticle-io/apex-instrumentation-repo">Instrumentation Repository</a></li>
                            </ul>
                            <div class="row">
                              <div class="col-md-12 text-right">
                                  <a class="github-button" href="https://github.com/verticle-io/apex-toolkit" data-icon="octicon-star" data-style="mega" data-count-href="/verticle-io/apex-toolkit/stargazers" data-count-api="/repos/verticle-io/apex-toolkit#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star verticle-io/apex-toolkit on GitHub">Star</a>
                                  <a class="github-button" href="https://github.com/verticle-io/apex-toolkit/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/verticle-io/apex-toolkit/network" data-count-api="/repos/verticle-io/apex-toolkit#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork verticle-io/apex-toolkit on GitHub">Fork</a>
                      
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>



            </div>
          </div>



          <div>

            {{ content }}

          </div>

          <footer>
            <p>&nbsp;
            </p>
          </footer>

        </div><!-- cover container -->
      </div><!-- site wrapper inner  -->
    </div><!-- site wrapper -->










    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'verticle-io/apex'
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-86995272-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>

</html>
