<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


    <link rel="icon" href="/bower_components/bootstrap/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,greek' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,greek' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/ir_black.min.css">

    <!-- Custom styles for this template -->
    <link href="css/apexdocs.css" rel="stylesheet">


  </head>


  <body>


    <div class="site-wrapper">
      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="">
              <h3 class="masthead-brand apex_title">apex toolkit<span class="apex_title_white"> : docs</span></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">About</a></li>
                  <li><a class="active" href="/docs2">Docs</a></li>
                  <li><a href="blog">Blog</a></li>
                  <li><a href="https://gitter.im/verticle-io/apex">Gitter</a></li>
                </ul>

              </nav>
            </div>
          </div><!-- header -->
          <br><br><br>
          <div>

            {{ page.document | tocify_asciidoc }}

            {{ content }}

          </div>

          <footer>
          
          </footer>
        </div><!-- cover container -->
      </div><!-- site wrapper inner  -->
    </div><!-- site wrapper -->









    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/bower_components/bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>


  </body>

</html>
